<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

  
    <div class="container">
      <div class="row" id="mars-listings">
        <div class="col-md-12">
          
          <h2> Latest Mars News</h2>
          <h3><strong>{{listings['heading'][0] | safe}} </h3>
          <h4>{{listings.text[0] | safe}}</h4>
        </div>
        <div class="row">
          <div class="col-md-8">
              <h2>
                <strong>  Featured Mars Image</strong>
                  <div class = "row">
                  <img src="{{listings.feature_image}}" width = "90% ">
                </div>
              </h2>

          </div>
          
          <div class = "col-md-4">
            <h2><strong>Mars Facts</strong></h2>
            <div class="row">
              <table class = "table">
              {{listings.table | safe}}
            </table> 
            </div>
          </div>  
        </div>
        <div class="row">
          <div class="col-md-6">
            <img class="rounded float-left" src = "{{listings.hemisphere[3]['url']}}" width ="100%">
            Valles Marineris Hemisphere Enhanced

          </div>  
          <div class="col-md-6">
            <img class="rounded float-right" src="{{listings.hemisphere[0]['url']}}" width = "100%">
            Cereberus Hemisphere Enhanced

          </div>
        </div>
        <div class="row"></div>
        <div class="row">
          <div class="col-md-6">
            <img class="rounded float-left" src = "{{listings.hemisphere[1]['url']}}" width = "100%">
            Schiaparelli Hemisphere Enhanced


          </div>  
          <div class="col-md-6">
            <img class="rounded float-right" src = "{{listings.hemisphere[2]['url']}}" width = "100%">
             Syritis Major Hemisphere Enhanced 
          </div>
        </div>
          
          
      


    </div>
    
    </div>

  </div>
</body>

</html>

